---
import Header from "../components/Header";
import Footer from "../components/Footer";
import "../styles/global.css";

interface Props {
    title: string;
    activeTab?: string;
}

const { title, activeTab } = Astro.props;
---

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Kancelaria Adwokacka Anna Romańska-Krysa"
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Open+Sans:wght@300;400;600&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body
        class="bg-cream font-sans text-text selection:bg-beige selection:text-green"
    >
        <Header client:load activeTab={activeTab} />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
